@model RecipeDetailsViewModel

@{
    ViewBag.Title = "Details";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card mb-3">
            
        <div class="card-body text-center">
            <h3 class="card-title">@Model.Title</h3>
            <p class="card-text"><small class="text-muted">@Model.Rating</small></p>
            <p class="card-text"><small class="text-muted">Category: @Model.Category</small></p>
            <p class="card-text"><small class="text-muted">Author: @Model.Author</small></p>
            <img src="@Model.ImageUrl" class="card-img-top img-fluid" style="max-height: 500px; object-fit: contain;" alt="Recipe Image">
            <p class="card-text pt-4">@Model.Description</p>
            <p class="card-text"><small class="text-muted">Comments:
                @if (!Model.Comments.Any())
                    {
                        <small>No comments yet</small>
                    }
                @foreach (var comment in Model.Comments)
                    {
                        <small>@comment.Title</small>
                        <small>@comment.Author</small>
                        <small>@comment.Content</small>
                    }
                </small>
            </p>
        </div>

        <a asp-controller="Recipe" asp-action="All" class="btn btn-outline-secondary btn-rounded mb-2 w-200 p-3 fw-bold">Back to All Recipes</a>
        @if (User?.Identity?.Name == @Model.Author)
        {
            <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-dark-text btn-rounded mb-2 w-100 p-3 fw-bold">Edit</a>
            <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-rounded mb-2 w-100 p-3 fw-bold">Delete</a>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}